:root {
    --menu-drawer: all 0.5s ease;
    --transition: all 0.3s ease-out;
}

/* ===== PC ===== */
@media screen and (min-width: 992px) {
    .menu-header,
    .mobile-header {
        display: none;
    }

    .dots {
        display: none;
    }

    .hidden-pc {
        display: none;
    }
}

/* ===== Tablet & Mobile ===== */
@media screen and (max-width: 991px) {
    /* ===== Common ===== */
    .btn {
        --height: 55px;

        min-width: 147px;
        font-size: 16px;
    }

    .order-1 {
        order: 1;
    }

    .order-2 {
        order: 2;
    }

    /* ===== Header ===== */
    .pc-header {
        display: none;
    }

    .inner__avatar {
        max-width: 37px;
    }

    .inner__avatar img {
        display: block;
    }

    .menu-header {
        padding-bottom: 21px;
        border-bottom: 1px solid #d6d3e2;
    }

    .menu-mobile {
        gap: 10px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: var(--menu-drawer);
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 12;
        padding: 20px;
        transform: translateX(-100%);
        transition: var(--menu-drawer);
    }

    .drawer__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .drawer__inner-account {
        color: #080415;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 136.364%;
        text-decoration-line: underline;
    }

    #mobile-nav {
        margin-top: 30px;
    }

    #mobile-nav > li > a {
        transition: var(--transition);
    }

    #mobile-nav > li > a:focus {
        text-decoration: underline;
        color: #5d3bee;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    /* ===== Hero ===== */
    .hero {
        margin-bottom: 60px;
    }

    .hero__content {
        margin-top: 0;
    }

    .hero-decor2 {
        display: none;
    }

    .hero__cta {
        margin-top: 30px;
    }

    .hero__cta-link {
        font-size: 1.6rem;
        line-height: 187.5%;
        margin-left: 40px;
    }

    .hero__social {
        margin-top: 30px;
    }

    .hero__media-image,
    .hero-decor {
        width: 100%;
    }

    .company {
        padding-top: 60px;
    }

    /* ===== Work ===== */
    .work {
        padding-top: 60px;
    }

    .work-heading,
    .work-desc {
        padding: 0;
        text-align: center;
    }

    .work-desc {
        margin: 20px auto 0 auto;
    }
}

/* ===== Tablet ===== */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* ===== Header ===== */
    #mobile-nav > li > a {
        display: block;
        color: #080415;
        padding: 18px 0;
        font-size: 1.8rem;
        font-weight: 500;
        text-align: left;
    }

    .mobile__letter-icon,
    .mobile__menu-icon {
        display: inline-block;
        width: 42px;
        height: 42px;
        object-fit: cover;
    }

    /* ===== Hero ===== */
    .hero__content-heading {
        font-size: 7.2rem;
        line-height: 119.048%;
        letter-spacing: -1.68px;
    }

    .hero__content-desc {
        font-size: 1.8rem;
        line-height: 162.5%;
        max-width: 690px;
    }

    /* ===== Company ===== */
    .company__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .company__inner-heading {
        padding-left: 0;
        text-align: center;
    }

    .company__inner-heading::before {
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .company__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    /* ===== Service ===== */
    .service__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dots {
        display: none;
    }

    /* ===== Work ===== */
    .item__content-desc {
        max-width: 276px;
    }

    .hidden-pc {
        display: none;
    }
}

/* ===== Mobile ===== */
@media screen and (max-width: 767px) {
    /* ===== Header ===== */
    #mobile-nav > li > a {
        display: block;
        color: #080415;
        padding: 15px 0;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: left;
    }

    .mobile__letter-icon,
    .mobile__menu-icon {
        display: inline-block;
        width: 32px;
        height: 32px;
        object-fit: cover;
    }

    /* ===== Hero ===== */
    .hero {
        padding-top: 50px;
    }

    .hero__content-heading {
        font-size: 4.2rem;
        line-height: 119.048%;
        letter-spacing: -1.68px;
    }

    .hero__content-desc {
        font-size: 1.6rem;
        line-height: 162.5%;
    }

    .hero-decor {
        left: 0;
    }

    /* ===== Company ===== */
    .company__inner {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .company__inner-heading {
        font-size: 2.8rem;
        text-align: center;
        line-height: 121.429%;
        letter-spacing: -1.12px;
        padding-left: 0;
        max-width: 169px;
    }

    .company__inner-heading::before {
        width: 48px;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .company__list {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 40px;
    }

    /* ===== Service ===== */
    .service {
        margin-bottom: 120px;
    }

    .service__list {
        display: flex;
        overflow: hidden;
    }

    .service__item {
        padding: 29px 50px;
        margin-top: 50px;
        width: 100%;
        flex-shrink: 0;
    }

    .service__item-icon {
        width: 62px;
        height: 62px;
    }

    .service__content-heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 116.667%;
        letter-spacing: -1.44px;
    }

    .service__content-desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;
    }

    .service__item-title {
        margin-top: 30px;
        font-size: 2.8rem;
        line-height: 128.571%;
        letter-spacing: -1.12px;
    }

    .service__item-desc {
        margin-top: 10px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 175%;
    }

    .dots {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .dots-outside {
        padding: 3px;
        background: #cecdd0;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .dot {
        display: block;
        padding: 6px;
        background: #cecdd0;
        border-radius: 50%;
    }

    .outside-active {
        border: 1px solid #5d3bee;
        background: #fff;
    }

    .dot-active {
        background: #5d3bee;
    }

    /* ===== Work ===== */
    .work-heading {
        font-size: 36px;
        line-height: 116.667%;
        letter-spacing: -1.44px;
    }

    .work-desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 162.5%;
    }

    .project__item {
        padding: 20px 15px;
        margin-bottom: 20px;
    }

    .item__content-title {
        font-size: 2.4rem;
        line-height: 141.667%;
        letter-spacing: -0.96px;
    }

    .item__content-desc {
        margin-top: 0;
        font-size: 1.4rem;
        max-width: 176px;
        line-height: 142.857%;
    }

    .item__content-link {
        margin-top: 0;
        font-size: 1.6rem;
        line-height: 175%;
    }

    .item__media-image {
        width: 122px;
        height: 93px;
        object-fit: cover;
    }

    .hidden-mobile {
        display: none;
    }
}
