@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

:root {
    --font-primary: "DM Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

/* ===== Common ===== */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    border: none;
    font-weight: 600;
    font-size: 1.8rem;
    color: #080415;
    background: #fff;
}

.layout {
    background: rgb(150, 150, 150);
    color: #080415;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

/* ===== Header ===== */
.header {
    padding-top: 20px;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner__account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inner__account-letter {
    width: 46px;
    height: 46px;
    object-fit: cover;
}

.inner__account-account {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}

.nav__list {
    display: flex;
    gap: 43px;
}

.nav__list > li > a {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}
