@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&display=swap");

:root {
    --font-primary: "DM Sans", sans-serif;
    --transition: all 0.3s ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

/* ===== Common ===== */
ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    --height: 62px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid transparent;
    font-weight: 600;
    font-size: 1.8rem;
    color: #080415;
    background: #fff;
    cursor: pointer;
    transition: var(--transition);
}

.layout {
    background: rgb(150, 150, 150);
    color: #080415;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.header,
.hero {
    background: #fbfaff;
}

/* ===== Header ===== */
.header {
    padding-top: 20px;
}

.header__container {
    width: 1330px;
    max-width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner__account {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inner__account-letter {
    width: 46px;
    height: 46px;
    object-fit: cover;
}

.inner__account-account {
    color: #080415;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}

.nav__list {
    display: flex;
    gap: 43px;
}

.nav__list > li > a {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
}

/* ===== Hero ===== */
.hero {
    padding-top: 44px;
    margin-bottom: 49px;
}

.hero__media-image {
    position: relative;
    z-index: 3;
    display: block;
}

.hero__content {
    margin-top: 137px;
}

.hero__content-heading {
    color: #080415;
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -3.2px;
}

.hero__content-desc {
    margin-top: 20px;
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

.hero__cta {
    margin-top: 50px;
}

.hero__cta-btn {
    background: #5d3bee;
    color: #fdfdfd;
}

.hero__cta-btn:hover {
    background: #080415;
}

.hero__cta-link {
    margin-left: 30px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
    transition: var(--transition);
}

.hero__cta-link:hover {
    color: #5d3bee;
}

.hero__social {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero__social-desc {
    color: #51586a;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
}

.hero__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.hero-decor {
    position: absolute;
    left: 15px;
    bottom: 0;
}

.hero-decor2 {
    position: absolute;
    right: 0;
    bottom: 123px;
}

/* ===== Company ===== */
.company {
    padding-top: 49px;
    margin-bottom: 70px;
}

.company__inner-heading {
    position: relative;
    color: #080415;
    font-size: 4.2rem;
    font-weight: 500;
    padding-left: 100px;
    line-height: 119.048%;
    letter-spacing: -1.68px;
}

.company__inner-heading::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 86px;
    height: 1px;
    top: 22px;
    left: 0;
    margin-right: 13px;
    background: #5d3bee;
}

.company__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.company__item {
    display: flex;
    align-items: center;
}

.company__item-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 13px;
}

.company__item:nth-child(2) .company__item-logo {
    background: #fbfaff;
}

.company__item:nth-child(3) .company__item-logo {
    background: #fee101;
}

.company__item:nth-child(4) .company__item-logo {
    background: #f00;
}

.company__item:nth-child(5) .company__item-logo {
    background: #14a800;
}

.company__item:nth-child(7) .company__item-logo {
    background: #7f54b3;
}

/* ===== Service ===== */
.service {
    padding-top: 70px;
    margin-bottom: 60px;
    text-align: center;
}

.service__content-heading {
    color: #080415;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -2.24px;
}

.service__content-desc {
    color: #51586a;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
    max-width: 534px;
    margin: 20px auto 0;
}

.service__list {
    display: flex;
    gap: 30px;
}

.service__item {
    background: #fbfaff;
    padding: 33px 42px 32px 43px;
    text-align: left;
}

.service__item-icon {
    width: 74px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #dedede;
}

.service__item-icon > img {
    display: block;
}

.service__item-title {
    margin-top: 22px;
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -1.28px;
}

.service__item-desc {
    margin-top: 15px;
    color: #51586a;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 166.667%;
}

/* ===== Work ===== */
.work {
    background: #5d3bee;
    padding-bottom: 86px;
}

.work-heading {
    padding-top: 86px;
    color: #fff;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -2.24px;
}

.work-desc {
    padding: 117px 0 0 25px;
    color: #fff;
    max-width: 370px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
    opacity: 0.7;
}

.list__project {
    margin-top: 70px;
}

.project__list {
    margin-top: 70px;
}

.project__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 23px 23px 34px;
    background: #fbfaff;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.item__content-title {
    color: #080415;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -1.28px;
}

.item__content-desc {
    margin-top: 10px;
    color: #51586a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 143.75%;
}

.item__content-link {
    display: inline-block;
    margin-top: 20px;
    color: #080415;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.item__media-decor,
.item__media-decor__mobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.item__media-image {
    display: block;
    width: 246px;
    height: 187px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.work__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
